<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hpe.springboot_crud.dao.SysUserMapper">
  <resultMap id="BaseResultMap" type="com.hpe.springboot_crud.model.SysUser">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="password" jdbcType="VARCHAR" property="password" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, password
  </sql>
  <insert id="insertSelective" parameterType="com.hpe.springboot_crud.model.SysUser">
    insert into sys_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="password != null">
        password,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hpe.springboot_crud.model.SysUser">
    update sys_user
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="queryAll" resultMap="BaseResultMap">
    select * from sys_user
  </select>

  <insert id="addUser" parameterType="com.hpe.springboot_crud.model.SysUser">
    insert into sys_user (name,password) values(#{name},#{password})
  </insert>

  <select id="selectByName" parameterType="com.hpe.springboot_crud.model.SysUser" resultMap="BaseResultMap">
    select * from sys_user where name = #{name}
  </select>

  <update id="updateById" parameterType="com.hpe.springboot_crud.model.SysUser">
      update sys_user set name = #{name} , password = #{password} where id = #{id}
  </update>
</mapper>